<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
</head>

<style>
    .txt {
        text-align: center;
        margin-top: 250px;
    }

    .txt1 {
        text-align: center;
        margin-top: -20px;
    }
</style>

<body>
    <input type="hidden" id="errorMsg" thjs:value="${errorMsg}">
    <input type="hidden" id="logins" thjs:value="${logins}" />
    <input type="hidden" id="emails" thjs:value="${emails}" />
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card px-5 py-4" id="form1">
                    <div class="form-data">
                        <div class="logo">
                            <img src="../public/assets/logo-oops.png" alt="Logo2">
                        </div>
                        <form action="/login" method="post">
                            <div name="login" id="forms-inputs" class="forms-inputs mb-4"> <span>Login</span> <input
                                    type="text" oninput="validateLogin(this);" required>
                            </div>
                            <button type="submit" id="btn">RESET</button>
                        </form>
                        <div class="txt">
                            <p class="text">Don`t have an account? <a href='/signup' class="link-success">Sign Up</a>
                            </p>
                        </div>
                        <div class="txt1">
                            <p class="text">Already have an account? <a href='/login' class="link-primary">Log In</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let logins = Array.from(document.getElementById('logins').value.split(','))
        let emails = Array.from(document.getElementById('emails').value.split(','))
        let errorMsg = document.getElementById('errorMsg').value
        if (errorMsg.length > 0)
            alert(errorMsg)
        function validateLogin(input) {
            if (!logins.includes(input.value)) {
                input.setCustomValidity('Username is not exist')
            } else
                input.setCustomValidity('')
        }
    </script>
</body>

</html>
